*.js text eol=lf
*.ts text eol=lf
*.py text eol=lf
*.d text eol=lf
*.json text eol=lf
*.vue text eol=lf
*.html text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sql text eol=lf
*.casm text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
